// --- Box Style --- //

// Border radius
$bdrs-base: 4px !default;
$bdrs-small: ceil($bdrs-base / 2) !default;

// Box shadows
$bxsh-spread: 3px !default;
$bxsh-base: 0 1px $bxsh-spread rgba($c-black, .15) !default;
