// --- Fonts and typography --- //

// Font weights
$fw-semi-bold: 600 !default;

// Font sizes
$fz-base: 14 !default;
$fz-body: $fz-base * 1px !default;
$fz-xs: ceil($fz-base * .666) * 1px !default;
$fz-s: ceil($fz-base * .8) * 1px !default;
$fz-m: $fz-base * 1px !default;
$fz-l: ceil($fz-base * 1.25) * 1px !default;
$fz-xl: ceil($fz-base * 1.75) * 1px !default;

// Font sizes for headings
$fz-h1: 32px !default;
$fz-h2: 24px !default;
$fz-h3: 18px !default;
$fz-h4: 14px !default;
$fz-h5: 12px !default;

// Line heights
$lh-base: 1.715 !default;

// Text link
$td-text-link: underline !default;
$td-hover-text-link: none !default;
$fz-text-link: null !default;
