/* sass-lint:disable no-important */
// --- SUI Button --- //
// @include sui-button();
// @include sui-button('secondary', 'small');
// @include sui-button('ghost', 'large', 'full');

@mixin sui-button(
  $type: 'primary',
  $size: 'medium',
  $layout: null,
  $color: null,
  $bgcolor: null
) {
  align-items: center;
  border-radius: $bdrs-button;
  cursor: pointer;
  display: flex;
  font-family: $ff-sans-serif;
  outline: none;
  padding: $p-v $p-h;

  @if $type == 'primary' {
    @include sui-button--primary;
  }
  @if $type == 'secondary' {
    @include sui-button--secondary;
  }
  @if $type == 'ghost' {
    @include sui-button--ghost;
  }
  @if $type == 'accent' {
    @include sui-button--accent;
  }
  @if $type == 'flat' {
    @include sui-button--flat;
  }

  @if $type == 'disabled' {
    @include sui-button--disabled;
  }

  @if $size == 'small' {
    @include sui-button--small;
  }
  @if $size == 'medium' {
    @include sui-button--medium;
  }
  @if $size == 'large' {
    @include sui-button--large;
  }

  @if $layout == 'full' {
    @include sui-button--full;
  }

  @if $bgcolor != null and $c-color != null {
    @include sui-button--custom($bgcolor, $c-color);
  }

  & > [class$='Icon'] {
    @if $size == 'small' {
      @include sui-button-icon--small;
    }
    @if $size == 'medium' {
      @include sui-button-icon--medium;
    }
    @if $size == 'large' {
      @include sui-button-icon--large;
    }

    &:first-child {
      margin-right: $m-h-small;
    }

    &:last-child {
      margin-left: $m-h-small;
    }
  }
}

// Button types

@mixin sui-button--primary {
  background-color: $bgc-button-primary;
  border: 0;
  color: $c-button-primary;

  &:hover {
    background-color: $bgc-button-primary-hover;
    color: $c-button-primary-hover;
  }

  &:active {
    background-color: $bgc-button-primary-active;
  }

  & > [class$='Icon'] {
    fill: $c-button-primary-icon !important;
  }
}

@mixin sui-button--secondary {
  background-color: $bgc-button-secondary;
  border: 1px solid $bd-button-secondary;
  color: $c-button-secondary;

  &:hover {
    background-color: $bgc-button-secondary-hover;
    color: $c-button-secondary-hover;
  }

  &:active {
    background-color: $bgc-button-secondary-active;
  }

  & > [class$='Icon'] {
    fill: $c-button-secondary-icon !important;
  }
}

@mixin sui-button--accent {
  background-color: $bgc-button-accent;
  border: 1px solid $bd-button-accent;
  color: $c-button-accent;

  &:hover {
    background-color: $bgc-button-accent-hover;
    color: $c-button-accent-hover;
  }

  &:active {
    background-color: $bgc-button-accent-active;
  }

  & > [class$='Icon'] {
    fill: $c-button-accent-icon !important;
  }
}

@mixin sui-button--ghost {
  background-color: transparent;
  border: 1px solid $bd-button-ghost;
  color: $c-button-ghost;

  &:hover {
    background-color: $bgc-button-ghost-hover;
    color: $c-button-ghost-hover;
  }

  &:active {
    background-color: $bgc-button-ghost-active;
  }

  & > [class$='Icon'] {
    fill: $c-button-ghost-icon !important;
  }
}

@mixin sui-button--flat {
  background-color: transparent;
  border: 0;
  color: $c-button-primary;

  &:hover {
    color: $c-button-primary-hover;
  }

  &:active {
    background-color: $bgc-button-primary-active;
  }

  & > [class$='Icon'] {
    fill: $c-button-primary-icon !important;
  }
}

@mixin sui-button--disabled {
  cursor: not-allowed;
  opacity: .4;
}

@mixin sui-button--custom($bgcolor, $color: white) {
  background-color: $bgcolor;
  border: 0;
  color: $color;

  &:hover {
    background-color: lighten($bgcolor, 15%);
  }

  & > [class$='Icon'] {
    fill: $color !important;
  }
}

// Button sizes

@mixin sui-button--small {
  font-size: $fz-s;
}

@mixin sui-button--medium {
  font-size: $fz-m;
}

@mixin sui-button--large {
  font-size: $fz-l;
}

@mixin sui-button-icon--small {
  height: 16px;
  width: 16px;
}

@mixin sui-button-icon--medium {
  height: 20px;
  width: 20px;
}

@mixin sui-button-icon--large {
  height: 24px;
  width: 24px;
}

// Button layouts

@mixin sui-button--full {
  justify-content: center;
  width: 100%;
}
