/* sass-lint:disable class-name-format */

// --- SUI Input --- //
// @include sui-input;

@mixin sui-input {
  @include input-placeholder {
    font-style: italic;
  }

  background-color: $bgc-input;
  border: $bd-input;
  border-radius: $bdrs-base;
  font-family: $ff-sans-serif;
  font-size: $fz-l;
  font-weight: $fw-light;
  outline: none;
  padding: $p-v $p-h;
  width: 100%;

  &:hover {
    background-color: $bgc-input-hover;
    border: $bd-input-hover;
  }

  &:focus {
    background-color: $bgc-input-focus;
    border: $bd-input-focus;
  }

  &.has-error {
    border: 1px solid $c-error;
  }
}
