/* sass-lint:disable class-name-format */

// --- SUI Tag --- //
// @include sui-tag;

@mixin sui-tag {
  border: $bd-tag;
  border-radius: $bdrs-tag;
  display: inline-block;
  margin-right: $m-h-small;
  padding: $p-h-xsmall $p-h-small;

  &:hover {
    background-color: $bgc-tag-hover;
  }
}
