// --- Color --- //

// Variation step {color}-light or {color}-dark variation
$c-dark-variation-step: -2 !default;
$c-light-variation-step: 2 !default;

// Color Variations Function:

// Description:
// Provide a color and step to get a lighter or darker color variation.
// If step provided is bigger than the step variation limit the lighter or darker color available will be returned.

// Usage:
// $c-primary-light: color-variation($c-primary, 1) -> 1 step lighter
// $c-primary-lighter: color-variation($c-primary, 2) -> 2 steps lighter
// $c-primary-dark: color-variation($c-primary, -2) -> 2 steps darker
// $c-primary-darkest: color-variation($c-primary, -4) -> 4 steps darker

@function color-variation($color, $step: 0) {
  $step-variations-positive: 25, 50, 75, 90;
  $step-variations-negative: 20, 35, 55, 75;

  @if $step == 0 {
    @return $color;
  }

  @if $step >= 5 {
    @return mix(white, $color, nth($step-variations-positive, 4));
  }

  @if $step <= -5 {
    @return mix(black, $color, nth($step-variations-negative, 4));
  }

  @if $step < 0 {
    @return mix(black, $color, nth($step-variations-negative, -$step));
  } @else {
    @return mix(white, $color, nth($step-variations-positive, $step));
  }
}

// Dark Variations Function
// Returns the darker variation of a color, as defined in color palette
@function dark-variation($color) {
  @return color-variation($color, $c-dark-variation-step)
}

// Light Variations Function
// Returns the lighter variation of a color, as defined in color palette
@function light-variation($color) {
  @return color-variation($color, $c-light-variation-step)
}
