// --- SUI List --- //
// @include sui-list;
// @include sui-list('inline');
// @include sui-list('grow');

@mixin sui-list(
  $type: 'block'
){
  @include reset-list;
  display: flex;

  @if $type == 'block' {
    @include sui-list--block;
  }

  li {
    @if $type == 'inline' {
      @include sui-list--inline;

      &:not(:last-child) {
        margin-right: $m-list-gutter;
      }
    }

    @if $type == 'grow' {
      @include sui-list--grow;

      &:not(:last-child) {
        margin-right: $m-list-gutter;
      }
    }
  }
};

@mixin sui-list--block {
   flex-direction: column;
}

@mixin sui-list--inline {
  flex: 0 0 auto;
}

@mixin sui-list--grow {
  flex: 1 1 auto;
}
