// --- SUI List --- //
// @include sui-list;
// @include sui-list('inline');
// @include sui-list('grow');

@mixin sui-list-gutter {
  margin-left: $m-list-gutter;
}

@mixin sui-list($type: 'block'){
  @include reset-list;
  display: flex;

  @if $type == 'block' {
    flex-direction: column;
  } @else if $type == 'inline' or $type == 'grow' {
    margin-left: -$m-list-gutter;
  }

  &-item {
    @if $type == 'inline' {
      flex: 0 0 auto;
      @include sui-list-gutter;
    }

    @if $type == 'grow' {
      flex: 1 1 100%;
      @include sui-list-gutter;
    }
  }
};
