// CSS image replacement
@mixin text-hide {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0 / 0 serif;
  text-shadow: none;
}
// Truncate
@mixin truncate($max-width: 100%, $text-overflow: ellipsis) {
  max-width: $max-width;
  overflow: hidden;
  text-overflow: $text-overflow;
  white-space: nowrap;
}
