// --- Box Style --- //
// TODO: Box style variables like shadows being defined by design

// Border radius
$bdrs-m: 2px !default;

// Form focus
$bxsh-focus: 0 0 3px 0 color-variation($c-primary, 1) !default;
$bdrs-focus: solid 1px $c-focus-shadow;
