// --- Box Style --- //
// TODO: Box style variables like shadows being defined by design

// Border radius
$bdrs-m: 2px !default;

// Form focus
$bxsh-input-focus: 0 0 3px 0 #60acd0 !default;
$bdrs-input-focus: solid 1px #22749a;
