// --- Spacing --- //
//
// The naming convention used for variables is based on Emmet.
// See [Emmet cheat sheet](http://docs.emmet.io/cheat-sheet/)
//
// Primary prefixes:
// * m = margin
// * p = padding

// Paddings
$p-m: 8px !default;         // 8px
$p-giant: $p-m*6 !default;  // 48px
$p-xxxl: $p-m*5 !default;   // 40px
$p-xxl: $p-m*4 !default;    // 32px
$p-xl: $p-m*3 !default;     // 24px
$p-l: $p-m*2 !default;      // 16px
$p-s: $p-m/2 !default;      // 4px

// Margins
$m-m: 8px !default;         // 8px
$m-giant: $m-m*6 !default;  // 48px
$m-xxxl: $m-m*5 !default;   // 40px
$m-xxl: $m-m*4 !default;    // 32px
$m-xl: $m-m*3 !default;     // 24px
$m-l: $m-m*2 !default;      // 16px
$m-s: $m-m/2 !default;      // 4px
