// # Theme Variables
// --------------------------------------------------
// The naming convention used for variables is the
// [ZenCSSProperties](https://code.google.com/p/zen-coding/wiki/ZenCSSPropertiesEn)
//
// Some of the prefixes used:
// * bg = background
// * bgc = background-color
// * c = color
// * ff = font-family
// * fw = font-weight
// * fz = font-size
// * m = margin
// * p = padding
// * lh = line-height


// --- Misc --- //

$url-statics: '' !default;


// --- Colors --- //

$c-primary: #005496 !default;
$c-primary-dark: #003661 !default;

$c-white: #ffffff !default;
$c-black: #000000 !default;

$c-gray: #777777 !default;
$c-gray-dark: lighten($c-gray, 20%);
$c-gray-light: lighten($c-gray, 33%) !default;
$c-gray-lightest: lighten($c-gray-light, 15%) !default;

$c-font-base: $c-gray-dark;
$c-font-accent: $c-primary;
$c-font-link: $c-font-accent;


// --- Fonts --- //

// Font family
$ff-sans-serif: 'Open sans', Helvetica, Arial, sans-serif !default;

// Font weights
$fw-light: 300 !default;
$fw-regular: 400 !default;
$fw-semi-bold: 600 !default;
$fw-bold: 700 !default;

// Font sizes
$fz-base: 14 !default;
$fz-body: $fz-base * 1px !default;
$fz-m: $fz-base * 1px !default;
$fz-l: ceil(($fz-base * 1.25)) * 1px !default;
$fz-xl: ceil($fz-base * 1.5) * 1px !default;


// --- Layout --- //

// Margins
$m-base: 8px !default;
$m-v: ceil($m-base / 2) !default;
$m-h: $m-base !default;
$m-v-small: $m-v / 2 !default;
$m-h-small: $m-h / 2 !default;
$m-v-large: $m-v * 2 !default;
$m-h-large: $m-h * 2 !default;

// Paddings
$p-base: 15px !default;
$p-v: $p-base / 1.5 !default;
$p-h: $p-base !default;
$p-v-small: $p-v / 2 !default;
$p-h-small: $p-h / 2 !default;
$p-v-large: $p-v * 2 !default;
$p-h-large: $p-h * 2 !default;

// Gutter
$gutter: $p-base;

// Border radius
$bdrs-base: 4px !default;

// Box shadows
$bxsh-base: 0 1px 3px rgba($c-black, .3) !default;


// --- Forms --- //

// Inputs
$bgc-input: $c-white !default;
$bgc-input-hover: $c-white !default;
$bgc-input-focus: $c-gray-lightest !default;

$bd-input: 1px solid $c-gray !default;
$bd-input-hover: 1px solid $c-gray !default;
$bd-input-focus: 1px solid $c-gray !default;

// Selects
$bgc-select: $c-white !default;
$bgc-select-hover: $c-white !default;
$bgc-select-focus: $c-gray-lightest !default;

$bd-select: 1px solid $c-gray !default;
$bd-select-hover: 1px solid $c-gray !default;
$bd-select-focus: 1px solid $c-gray !default;


// --- Components --- //

// Tabs
$bgc-tab: rgba($c-black, .6) !default;
$bgc-tab-hover: rgba($c-black, .8) !default;
$bgc-tab-active: $c-white !default;

// Search box
$bg-search-box: $c-gray-light !default;
