// # Theme Variables
// --------------------------------------------------
// The naming convention used for variables is based on Emmet.
// See [Emmet cheat sheet](http://docs.emmet.io/cheat-sheet/)
//
// Some of the prefixes used:
// * bg = background
// * bgc = background-color
// * c = color
// * ff = font-family
// * fw = font-weight
// * fz = font-size
// * lh = line-height
// * m = margin
// * maw = max-width
// * p = padding
// * ta = text-align
// * z = z-index

// URLs
$url-statics: '' !default;

@import './settings/color';
@import './settings/font';
@import './settings/layers';
@import './settings/opacity';
@import './settings/spacing';
@import './settings/size';
@import './settings/box-style';
