// # Theme Variables
// --------------------------------------------------
// The naming convention used for variables is based on Emmet.
// See [Emmet cheat sheet](http://docs.emmet.io/cheat-sheet/)
//
// Some of the prefixes used:
// * bg = background
// * bgc = background-color
// * c = color
// * ff = font-family
// * fw = font-weight
// * fz = font-size
// * m = margin
// * p = padding
// * lh = line-height


// --- Animation --- //

// Transitions
$trsdu-base: .3s !default;
$trs-base: $trsdu-base ease !default;

// --- Misc --- //

// URLs
$url-statics: '' !default;


// --- Colors --- //

// Main
$c-primary-light: #80a9ca !default;
$c-primary: #005496 !default;
$c-primary-dark: #003661 !default;
$c-highlighted: #f2cd96 !default;

$c-accent: #964200 !default;
$c-accent-light: #caa080 !default;

$c-featured: #ffe613 !default;

$c-white: #ffffff !default;
$c-black: #000000 !default;

$c-error: #d92b2b !default;
$c-warning: #e69c2e !default;
$c-success: #8cbf26 !default;

// Grays
$c-gray: #777777 !default;
$c-gray-dark: #4d4d4d !default;
$c-gray-light: #bbbbbb !default;
$c-gray-lightest: #f1f1f1 !default;

// Text
$c-text-base: $c-gray-dark !default;
$c-text-accent: $c-accent !default;
$c-text-link: $c-text-accent !default;

// Social
$c-facebook: #3b5998 !default;
$c-twitter: #55acee !default;
$c-google: #d34836 !default;
$c-youtube: #bb0000 !default;


// --- Fonts and typography --- //

// Font family
$ff-sans-serif: 'Open Sans', Helvetica, sans-serif !default;

// Font weights
$fw-light: 300 !default;
$fw-regular: 400 !default;
$fw-semi-bold: 600 !default;
$fw-bold: 700 !default;

// Font sizes
$fz-base: 14 !default;
$fz-body: $fz-base * 1px !default;
$fz-xs: ceil($fz-base * .666) * 1px !default;
$fz-s: ceil($fz-base * .8) * 1px !default;
$fz-m: $fz-base * 1px !default;
$fz-l: ceil($fz-base * 1.25) * 1px !default;
$fz-xl: ceil($fz-base * 1.75) * 1px !default;

// Font sizes for headings
$fz-h1: 32px !default;
$fz-h2: 24px !default;
$fz-h3: 18px !default;
$fz-h4: 14px !default;
$fz-h5: 12px !default;

// Line heights
$lh-base: 1.715 !default;


// --- Layout --- //

$w-layout: 980px !default;
$w-layout-large: 1280px !default;

// Margins
$m-base: 16px !default;
$m-v: ceil($m-base / 2) !default;
$m-h: $m-base !default;
$m-v-xsmall: ceil($m-v / 3) !default;
$m-h-xsmall: ceil($m-h / 3) !default;
$m-v-small: ceil($m-v / 2) !default;
$m-h-small: ceil($m-h / 2) !default;
$m-v-large: ceil($m-v * 2) !default;
$m-h-large: ceil($m-h * 2) !default;
$m-v-xlarge: ceil($m-v * 3) !default;
$m-h-xlarge: ceil($m-h * 3) !default;

// Paddings
$p-base: 16px !default;
$p-v: ceil($p-base / 2) !default;
$p-h: $p-base !default;
$p-v-xsmall: ceil($p-v / 3) !default;
$p-h-xsmall: ceil($p-h / 3) !default;
$p-v-small: ceil($p-v / 2) !default;
$p-h-small: ceil($p-h / 2) !default;
$p-v-large: ceil($p-v * 2) !default;
$p-h-large: ceil($p-h * 2) !default;
$p-v-xlarge: ceil($p-v * 3) !default;
$p-h-xlarge: ceil($p-h * 3) !default;

// Breakpoints
$breakpoints: (
  xxs: 0,
  xs: 320px,
  s: 576px,
  m: 768px,
  l: 992px,
  xl: 1200px
) !default;
$breakpoint-names: map-keys($breakpoints) !default;

// Gutter
$gutter: $p-base !default;

// Border radius
$bdrs-base: 4px !default;
$bdrs-small: ceil($bdrs-base / 2) !default;

// Box shadows
$bxsh-spread: 3px !default;
$bxsh-base: 0 1px $bxsh-spread rgba($c-black, .15) !default;


// --- Forms --- //

// Inputs
$bgc-input: $c-white !default;
$bgc-input-hover: $c-white !default;
$bgc-input-focus: $c-gray-lightest !default;

$bd-input: 1px solid $c-gray !default;
$bd-input-hover: 1px solid $c-gray !default;
$bd-input-focus: 1px solid $c-gray !default;

// Radio List
$bd-radio-list: 1px solid $c-gray !default;
$bdrs-radio-list: $bdrs-base !default;

$bgc-radio-list-checked: $c-primary !default;
$bgc-radio-list: $c-white !default;

$c-radio-list-checked: $c-white !default;
$p-radio-list: $p-v $p-h !default;

// Selects
$bgc-select: $c-white !default;
$bgc-select-hover: $c-white !default;
$bgc-select-focus: $c-gray-lightest !default;

$bgc-select-icon-wrap: $c-gray-lightest !default;
$p-select-icon-wrap: 0 $p-h-small !default;
$w-select-icon-wrap: 30px !default;

$bd-select: 1px solid $c-gray !default;
$bd-select-hover: 1px solid $c-gray !default;
$bd-select-focus: 1px solid $c-gray !default;


// --- Components --- //

// Ads
$h-ad-l-top: auto !default;
$w-ad-l-top:  980px !default;
$h-ad-l-right: 600px !default;
$w-ad-l-right:  300px !default;

// Alert Basic
$bdrs-alert-basic: 0 !default;
$bxsh-alert-basic: $bxsh-base !default;
$c-alert-basic-link: $c-primary !default;

$c-alert-basic-info: $c-primary !default;
$bd-alert-basic-info: 0 !default;
$bdl-alert-basic-info: 4px solid $c-alert-basic-info !default;
$bgc-alert-basic-info: $c-white !default;

$c-alert-basic-error: $c-error !default;
$bd-alert-basic-error: 0 !default;
$bdl-alert-basic-error: 4px solid $c-alert-basic-error !default;
$bgc-alert-basic-error: $c-white !default;

$c-alert-basic-success: $c-success !default;
$bd-alert-basic-success: 0 !default;
$bdl-alert-basic-success: 4px solid $c-alert-basic-success !default;
$bgc-alert-basic-success: $c-white !default;

// Button
$bdrs-button: 0 !default;
$o-button-disabled: .4 !default;

$c-button-primary-hover: $c-white !default;
$c-button-primary: $c-white !default;
$c-button-primary-icon-fill: $c-white !default;
$c-button-primary-icon-stroke: $c-white !default;
$bgc-button-primary: $c-primary !default;
$bgc-button-primary-hover: $c-primary-light !default;
$bgc-button-primary-active: $c-primary-dark !default;

$c-button-secondary: $c-primary !default;
$c-button-secondary-hover: $c-primary !default;
$c-button-secondary-icon-fill: $c-primary !default;
$c-button-secondary-icon-stroke: $c-primary !default;
$bdc-button-secondary: $c-primary !default;
$bgc-button-secondary: $c-white !default;
$bgc-button-secondary-hover: $c-gray-lightest !default;
$bgc-button-secondary-active: $c-gray-lightest !default;

$c-button-accent: $c-white !default;
$c-button-accent-hover: $c-white !default;
$c-button-accent-icon-fill: $c-white !default;
$c-button-accent-icon-stroke: $c-white !default;
$bdc-button-accent: $c-accent !default;
$bdc-button-accent-hover: darken($c-accent, 5%) !default;
$bgc-button-accent: $c-accent !default;
$bgc-button-accent-hover: darken($c-accent, 5%) !default;
$bgc-button-accent-active: darken($c-accent, 5%) !default;

$c-button-ghost: $c-white !default;
$c-button-ghost-hover: $c-primary !default;
$c-button-ghost-icon-fill: $c-primary !default;
$c-button-ghost-icon-stroke: $c-primary !default;
$bdc-button-ghost: $c-primary !default;
$bgc-button-ghost-hover: $c-primary !default;
$bgc-button-ghost-active: $c-gray-lightest !default;

$c-button-flat: $c-gray-dark !default;
$c-button-flat-hover: rgba($c-gray, .75) !default;
$c-button-flat-icon-fill: $c-white !default;
$c-button-flat-icon-stroke: $c-white !default;
$bgc-button-flat-hover: transparent !default;
$bgc-button-flat-active: $c-gray-lightest !default;

// Card
$bdrs-card: 0 !default;
$bxsh-card: $bxsh-base !default;
$bxsh-card-hover: 0 1px 6px 2px rgba($c-black, .15) !default;
$c-card-title-hover: inherit !default;
$bdc-article-featured: $c-featured !default;
$bd-article-featured: 4px solid $bdc-article-featured !default;

// Card product
$c-card-product-title: $c-primary !default;
$c-card-product-favorited: $c-primary !default;
$c-card-product-slider-nav-icon: $c-primary !default;
$size-card-product-slider-nav-icon: 30px !default;

// Card subscription
$bg-card-subscription-image: none !default;
$bgc-card-subscription-content: $c-white !default;
$c-card-subscription-icon: $c-white !default;
$c-card-subscription-title: $c-gray !default;
$fz-card-subscription-input: $fz-base !default;
$h-card-subscription-image: 0 !default;
$pt-card-subscription: 0 !default;
$t-card-subscription-image: 0 !default;
$type-card-subscription-button: 'primary' !default;

// Dropdown
$bdt-dropdown-menu: 1px solid $c-primary !default;
$bgc-dropdown-button-hover: $c-white !default;
$bgc-dropdown-menu-hover: $c-white !default;
$bgc-dropdown-menu: $c-gray-lightest !default;
$bxsh-dropdown-menu: $bxsh-base !default;
$c-dropdown-arrow: transparent !default;
$size-dropdown-arrow-up: 0 !default;
$size-dropdown-icon: 18px !default;

// Dropdown user
$bd-dropdown-user-last-item: 1px solid $c-gray-light !default;
$bg-dropdown-user-button: $c-gray !default;
$bgc-dropdown-user: $c-white !default;
$w-dropdown-user-avatar: 48px !default;
$w-dropdown-user-text: 100px !default;

// Form Autocompleted
$bd-form-autocompleted: 1px solid $c-gray !default;
$bdr-form-autocompleted: $bdrs-base !default;
$bgc-form-autocompleted-item-active: $c-gray-lightest !default;
$bgc-form-autocompleted-item-hover: $c-gray-lightest !default;
$bgc-form-autocompleted: $c-white !default;
$c-form-autocompleted-submit-icon: $c-white !default;
$ml-form-autocompleted-submit: $m-h !default;
$mt-form-autocompleted: 3px !default;
$p-form-autocompleted-item: $p-v $p-h !default;
$r-form-autocompleted-clear: 12px !default;
$t-form-autocompleted-clear: 12px !default;
$z-form-autocompleted-suggests: 1 !default;

// Modal
$bg-modal: rgba(0, 0, 0, .6) !default;

// Modal Basic
$bd-modal-basic: 0 !default;
$bg-modal-basic: $bg-modal !default;
$bxsh-modal-basic: $bxsh-base !default;
$m-modal-basic: $m-base !default;
$maw-modal-basic: 50% !default;
$p-modal-basic: $p-base !default;
$w-modal-basic: auto !default;
$z-modal-basic: 100 !default;
$c-modal-basic-icon: $c-black !default;
$h-modal-basic-icon: 16px !default;
$w-modal-basic-icon: 16px !default;
$bg-modal-basic-dialog: $c-white !default;
$bg-modal-basic-header: transparent !default;
$c-modal-basic-header: inherit !default;
$p-modal-basic-header: $p-base !default;
$m-modal-basic-header: $p-modal-basic-header !default;
$bd-modal-basic-content: 1px solid $c-gray-light !default;
$p-modal-basic-content: $p-base !default;
$p-modal-basic-footer: $p-base !default;

// Search box
$bg-search-box: $c-gray-light !default;

// Smartbanner
$bgc-ad-smartbanner: $c-white !default;
$bb-ad-smartbanner: 1px solid $c-gray-light !default;
$h-ad-smartbanner: 70px !default;
$t-ad-smartbanner: 0 !default;
$b-ad-smartbanner: auto !default;
$l-ad-smartbanner: 0 !default;
$z-ad-smartbanner: 10 !default;
$m-ad-smartbanner-logo: 0 $m-h-small !default;
$w-ad-smartbanner-logo: 50px !default;
$h-ad-smartbanner-logo: 50px !default;
$bgc-ad-smartbanner-button-install: $c-primary !default;
$c-ad-smartbanner-button-color: $c-white !default;
$w-ad-smartbanner-button-close-icon: 10px !default;
$h-ad-smartbanner-button-close-icon: 10px !default;
$c-ad-smartbanner-button-close-icon: grey !default;
$m-ad-smartbanner-button-close-container: 0 $m-h-small !default;
$m-ad-smartbanner-title: 0 0 $m-v-xsmall 0 !default;
$p-ad-smartbanner-secondary: $p-v $p-h-small !default;

// Spinner
$c-spinner: $c-primary !default;
$m-spinner: $m-h-xsmall !default;
$op-spinner: .45 !default;
$animdur-spinner: 1500ms !default;
$animic-spinner: infinite !default;
$animtf-spinner: linear !default;

$size-spinner-l: 60px !default;
$bdw-spinner-l: 3px !default;
$size-spinner-m: 30px !default;
$bdw-spinner-m: 2px !default;
$size-spinner-s: 15px !default;
$bdw-spinner-s: 1px !default;

// Tabs
$bd-tab-wrap: 1px solid $c-gray-light !default;

$bgc-tab: $c-white !default;
$c-tab: $c-text-base !default;
$fw-tab: $fw-semi-bold !default;
$mr-tab: 0 !default;
$p-tab: $p-v * 1.5 $p-h !default;
$tt-tab: uppercase !default;

$bgc-tab-hover: $c-white !default;

$bgc-tab-active: $c-white !default;
$bxsh-tab-active: 0 -4px 0 $c-primary inset !default;
$c-tab-active: $c-primary !default;

// Tag
$bd-tag: 1px solid $c-gray-light !default;
$bgc-tag: $c-white !default;
$bgc-tag-hover: $c-white !default;
$bdrs-tag: $bdrs-base !default;
$fz-tag: $fz-s !default;
$lh-tag: 1.5em !default;

// Tooltip basic
$bdr-tooltip-basic: 0 !default;
$bdw-tooltip-basic-arrow: 4px !default;
$fz-tooltip-basic: $fz-base !default;
$w-toolip-basic-arrow: 12px !default;
$p-toolip-basic: $p-v $p-h !default;
$trs-toolip-basic: opacity $trsdu-base ease-out !default;
$bxsh-toolip-basic: $bxsh-base !default;
$maw-tooltip-basic: 300px !default;

$bgc-tooltip-basic-dark: $c-white !default;
$c-tooltip-basic-dark: $c-text-base !default;
$bdc-tooltip-basic-dark: $c-gray !default;

$bgc-tooltip-basic-success: $c-white !default;
$c-tooltip-basic-success: $c-text-base !default;
$bdc-tooltip-basic-success: $c-success !default;

$bgc-tooltip-basic-error: $c-white !default;
$c-tooltip-basic-error: $c-text-base !default;
$bdc-tooltip-basic-error: $c-error !default;

$bgc-tooltip-basic-info: $c-white !default;
$c-tooltip-basic-info: $c-text-base !default;
$bdc-tooltip-basic-info: $c-accent !default;

// Topbar user
$bgc-topbar-user: $c-white !default;
$bxsh-topbar-user: $bxsh-base !default;
$bg-topbar-user-brand: null !default;
$bgsz-topbar-user-brand: 100% !default;
$h-topbar-user-brand: 0 !default;
$w-topbar-user-brand: 0 !default;
$size-topbar-user-toggle-icon: 24px !default;
$w-topbar-user-nav: 90% !default;
$maw-topbar-user-nav: 350px !default;
$bgc-topbar-user-cta: $c-accent !default;
