//
// # Theme Variables
// --------------------------------------------------
// The naming convention used for variables is the
// [ZenCSSProperties](https://code.google.com/p/zen-coding/wiki/ZenCSSPropertiesEn)
//
// Some of the prefixes used:
// * c = color
// * ff = font-family
// * fz = font-size
// * m = margin
// * p = padding
// * lh = line-height



// ## Colors

// ### Contrast colors

// Background colors
$c-bg: #fafafa      !default;
$c-bg-light: #fff   !default;
$c-bg-dark: #000    !default;

// Shades of gray
$c-gray-darker:            lighten($c-bg-dark, 13.5%) !default; // #222
$c-gray-dark:              lighten($c-bg-dark, 20%) !default;   // #333
$c-gray:                   lighten($c-bg-dark, 33.5%) !default; // #555
$c-gray-light:             lighten($c-bg-dark, 46.7%) !default; // #777
$c-gray-lighter:           lighten($c-bg-dark, 60%) !default; // #999

// Contrast to background (default text color)
$c-fg: $c-gray-dark    !default;
$c-fg-light: $c-gray   !default;

// Used to darken background
$c-darkness: rgba($c-bg-dark, .2) !default;
$c-darkness-light:  rgba($c-bg-dark, .08) !default;


$c-brightness: rgba(#fff, .2) !default;
$c-brightness-sweet: rgba(#fff, .25) !default;
$c-brightness-light: rgba(#fff, .08) !default;
$c-brightness-strong: rgba(#fff, .5) !default;

// ### Semantic colors
$c-success:       #68cc68 !default; // Success color (positive messages)
$c-info:          #5ba0de !default; // Informative color
$c-warning:       #f1ce30 !default; // Color for warnings
$c-danger:        #e43731 !default; // Color for negative messages/icons



// ## Typography
//
// Font, line-height, and color for body text, headings, and more.

// ### Font families
$ff-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$ff-serif: Georgia, "Times New Roman", Times, serif !default;
$ff-condensed: "Open Sans", sans-serif !default;
$ff-body: $ff-sans-serif !default;
$ff-headers: $ff-sans-serif !default;


// ### Font sizes
$fz-base: 14px !default;
$fz-l:    ceil(($fz-base * 1.25)) !default; // ~18px
$fz-s:    ceil(($fz-base * .85)) !default; // ~12px

$fz-h1:   floor(($fz-base * 2.6)) !default; // ~36px
$fz-h2:   floor(($fz-base * 2.15)) !default; // ~30px
$fz-h3:   ceil(($fz-base * 1.7)) !default; // ~24px
$fz-h4:   ceil(($fz-base * 1.25)) !default; // ~18px
$fz-h5:   $fz-base !default;
$fz-h6:   ceil(($fz-base * .85)) !default; // ~12px


// ## Spacings

// For any absolute margin
$m-base: $fz-base !default;
$m-v: $m-base/2 !default;
$m-h: $m-base !default;

// For relative paddings in scalable elements
$p-base: .8em !default;
$p-v: $p-base/2 !default;
$p-h: $p-base !default;


//** Unit-less `line-height` for use in components like buttons.
$lh-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`fz` * `line-height`) for use with `margin`, `padding`, etc.
$lh-computed:    floor(($fz-base * $lh-base)) !default; // ~20px
