@mixin h1 {
  font-size: $fz-h1;
  font-weight: $fw-bold;
  margin: 0 0 $m-v;
}

@mixin h2 {
  font-size: $fz-h2;
  font-weight: $fw-bold;
  margin: 0 0 $m-v;
}

@mixin h3 {
  font-size: $fz-h3;
  font-weight: $fw-bold;
  margin: 0 0 $m-v-small;
}

@mixin h4 {
  font-size: $fz-h4;
  font-weight: $fw-bold;
  margin: 0 0 $m-v-small;
}

@mixin h5 {
  font-size: $fz-h5;
  font-weight: $fw-bold;
  margin: 0 0 $m-v-small;
}

@mixin text-link {
  color: $c-text-link;
  font-size: $fz-text-link;
  text-decoration: $td-text-link;

  &:hover {
    text-decoration: $td-hover-text-link;
  }
}

@mixin link {
  color: $c-primary;
  font-family: $ff-sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: $lh-l;
  letter-spacing: normal;
  text-align: left;

  &:hover,
  &:active {
    color: $c-primary-dark;
    text-decoration: underline;
  }
}

@mixin link-negative {
  @include link;

  &,
  &:hover,
  &:active {
    color: $c-white;
  }
}

@mixin text-highlighted {
  background-color: $c-highlighted;
}
