%sui-atom-input-input {
  background: $c-white;
  border: $bdw-s solid $c-gray-light;
  box-sizing: border-box;
  font-family: inherit;
  font-size: $fz-atom-input;
  padding-left: $pl-atom-input;
  padding-right: $pr-atom-input;
  width: 100%;
}

%sui-atom-input-input-focus {
  border: $bd-atom-input;
  box-shadow: $bxsh-atom-input;
  outline: 0 none;
}

%sui-molecule-autosuggest-focus {
  border: $bd-molecule-autosuggest-focus;
  box-shadow: $bxsh-molecule-autosuggest-focus;
  outline: 0 none;
}
