$h-atom-input--m: 40px !default;
$h-atom-input--s: 32px !default;
$h-atom-input--xs: 24px !default;

$c-atom-input--success: $c-success !default;
$c-atom-input--error: $c-error !default;

$pl-atom-input: $p-l !default;
$pr-atom-input: $p-l !default;

$bxsh-atom-input: $bxsh-focus !default;
$bd-atom-input: $bdw-s solid $c-primary !default;
$fz-atom-input: $fz-base !default;

$sizes-atom-input: m $h-atom-input--m, xs $h-atom-input--xs, s $h-atom-input--s !default;
$states-atom-input: success $c-atom-input--success, error $c-atom-input--error !default;
