// --- SUI Grid --- //
// @include sui-grid;
//
// @include sui-cell;
// or...
// @include sui-cell-of(2);

@mixin sui-grid($add-gutter: true) {
  display: flex;
  flex-wrap: wrap;

  @if $add-gutter == true {
    padding: 0 $gutter $gutter;
  }
}

@mixin sui-cell {
  flex: 1;
  margin: 0;
  padding: 0;

  &:not(:last-child) {
    margin-right: $gutter;
  }
}

@mixin sui-cell-of($col-num) {
  $w-content: 100% / $col-num;

  @include sui-cell;
  flex-basis: calc(#{$w-content} - #{$gutter});

  &:nth-child(#{$col-num}n) {
    margin-right: 0;
  }

  &:not(:nth-last-child(-n+#{$col-num})) {
    margin-bottom: $gutter;
  }
}

// Inline grid
@mixin sui-grid-inline {
  display: flex;
  overflow-x: auto;
  padding: 0 $gutter $gutter;
}

@mixin sui-cell-inline {
  margin-right: $gutter;
  padding: 0;

  & > * {
    height: 100%;
  }
}
